chatserver_v1/logs/*
chatserver_v2/logs/*
chatserver_vs/dist/logs/*
chatserver_v1/admins.json
chatserver_v2/admins.json
chatserver_v2/dist/admins.json
PythonJS-master/*
*.db
Private/*
chatserver_v3/*
chatserver_v5/*
PiChat/*
Form_Handler/*
YE_Website/GenUsers/*
Cloud Datastore/service_secret.json
SecureNet/*
YE_Website/*
*__pycache__/